Library
Library/*
*.csproj
*.unityproj
*.sln
*.userprefs
Temp
/Cars/
/Maps/
obj
/*.suo
Assets/StreamingAssets/Music/
Assets/StreamingAssets/Music.meta
Assets/BuildReports/
Assets/BuildReports.meta
Xcode
Xcode/*
Assets/Resources/cache.xml
Assets/Resources/cache.xml.meta
.vs
Thumbs.db
Thumbs.db.meta
/.idea/
/Builds/
game.cfg
gauto.cfg
log.txt
log_old.txt
/logs/
Prefs/
.vscode/
*.snap


#FMOD
CarX_TAG_Project/.*
fmod_editor.log
/Assets/Plugins/FMOD/Cache*
/Assets/StreamingAssets/*.bank
/Assets/StreamingAssets/*.bank.meta
MemoryCaptures/
Assets/Resources/DB/Customization DR2*
/UserSettings
AddressableContentState/
#GitInfo
Assets/Prefabs/GitInfo/GitInfoAsset.asset

#dr2 importer
Assets/Editor/Resources/DB/Customization DR2
AssetBundles
